<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Coś poszło nie tak! :(
    </div>
  </div>

  <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="asc" class="example-table">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Nazwa </mat-header-cell>
      <mat-cell *matCellDef="let product">
        {{product.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>
        Opis
      </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <span *ngIf="!product.editMode"> {{ product.description }}</span>
        <div class="cell-container" *ngIf="product.editMode">
          <form class="example-form">
            <div class="form-group">
              <input type="text" class="form-control" name="description" [(ngModel)]="product.description">
            </div>
          </form>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Cena
      </mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.price }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <!--Actions-->
        <button mat-icon-button color="primary" (click)="add($event)">
          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <button mat-button (click)="edit($event, product)" *ngIf="!product.editMode">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          Edytuj
        </button>
        <button mat-button (click)="delete($event, product)" *ngIf="!product.editMode">
          <mat-icon fontSet="fa" fontIcon="fa-trash-o"></mat-icon>
          Usuń
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator [length]="resultsLength" [pageSize]="10">
  </mat-paginator>
</div>
