<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Name </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>
        Description
      </mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="product_id">
      <mat-header-cell *matHeaderCellDef>
        Product Id
      </mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.product_id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>
        Price
      </mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.price }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let products; columns: displayedColumns;"></mat-row>

    <mat-paginator [length]="resultsLength" [pageSize]="10">
    </mat-paginator>
  </mat-table>
</div>
